h3
{
  text-align: center;
  padding: 15px;
  margin: 5px;
  font=family: 'Jura', sans-serif;
  
}

p
{
  text-align: center;
  padding: 15px;
  margin: 5px;
}

.frame1
{
  background-color: gray;
  color: black;
  border-style: dotted;
  border-radius: 12px;
}
